h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: underline wavy orange;
    letter-spacing: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
h2 {
    color: rgb(108,175,0);
    background-color: plum;
}

button {
    color: magenta;
    background-color: #0f9dbd;
}

p {
    color: white;
    background: black;
    line-height: 2;
}
a {
    text-decoration: none;
}