<!DOCTYPE html>
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navber') %> 
    <h1>猫たち</h1>    
    <ul>
        <% for(let cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
    </ul>
</body>
</html>