<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navber') %> 
    <h1>ホームページ <%= 'hellow world'.toUpperCase() %> </h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At blanditiis, voluptate aliquid delectus necessitatibus dolor natus suscipit molestiae quam enim fugit laudantium aliquam modi autem laboriosam eius quis? Aperiam, exercitationem.</p>
</body>
</html>