<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navber') %> 
    <h1>ランダムな値: <%= random %> </h1> 
    <% if (random % 2 === 0) { %>
        偶数
    <% } %>
</body>
</html>